In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('treino.csv')

In [3]:
df.head()

,id,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,target
0,1035,2.440291,18.803669,58.516966,9.036167,50.743645,2.616749,10.795447,7.660446,4.668714,...,4.902706,32.456142,7.968399,3.091370,7.347987,6.059947,1.127013,42.602430,14.998465,0
1,4114,2.169448,24.294184,67.503844,11.834599,45.908778,2.011304,26.907888,6.340541,3.395222,...,4.696788,54.560997,7.041915,2.994271,6.647018,5.601878,1.147552,41.864156,19.513713,0
2,929,3.023596,10.293279,65.193868,9.252690,32.051982,2.968073,15.973128,3.868862,5.101278,...,3.778641,38.996286,4.508824,2.826542,4.504206,7.569435,0.669029,59.064639,14.957184,0
3,2642,2.767535,18.945972,65.554293,11.736898,48.732568,3.378123,15.704830,5.978061,3.454681,...,4.933742,63.196446,5.938648,2.878741,8.451534,5.495360,1.107726,43.295682,18.738351,0
4,7206,3.101379,13.828258,84.972532,11.598183,48.987365,3.345562,18.102956,4.185259,3.708816,...,3.388722,61.371441,6.734750,2.242443,6.921818,7.739376,1.126734,42.612441,17.255943,0

In [4]:
df.shape

(5600, 22)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5600 non-null   int64
 1   col_0   5600 non-null   float64
 2   col_1   5600 non-null   float64
 3   col_2   5600 non-null   float64
 4   col_3   5600 non-null   float64
 5   col_4   5600 non-null   float64
 6   col_5   5600 non-null   float64
 7   col_6   5600 non-null   float64
 8   col_7   5600 non-null   float64
 9   col_8   5600 non-null   float64
 10  col_9   5600 non-null   float64
 11  col_10  5600 non-null   float64
 12  col_11  5600 non-null   float64
 13  col_12  5600 non-null   float64
 14  col_13  5600 non-null   float64
 15  col_14  5600 non-null   float64
 16  col_15  5600 non-null   float64
 17  col_16  5600 non-null   float64
 18  col_17  5600 non-null   float64
 19  col_18  5600 non-null   float64
 20  col_19  5600 non-null   float64
 21  target  5600 non-null   int64
dtypes: float64(20), int64(2)
memory usage: 962.6 KB

In [6]:
df.describe().round(2)

,id,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,target
count,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,...,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00,5600.00
mean,4002.39,3.09,20.48,74.72,10.05,46.72,2.87,18.86,7.63,4.74,...,4.28,50.49,6.69,3.24,7.14,5.29,1.29,36.75,15.59,0.12
std,2314.07,0.75,5.03,17.87,2.35,11.26,0.81,4.93,1.83,1.18,...,1.00,13.84,1.83,0.76,1.48,1.51,0.29,10.59,4.27,0.32
min,0.00,0.00,0.00,0.00,0.00,4.42,0.00,0.00,0.00,0.00,...,0.00,0.00,0.32,0.33,0.00,0.00,0.00,0.00,0.00,0.00
25%,1985.75,2.60,17.12,62.89,8.54,39.17,2.31,15.59,6.40,3.95,...,3.61,41.26,5.46,2.74,6.11,4.25,1.09,29.40,12.73,0.00
50%,4020.50,3.14,20.47,73.97,10.06,46.42,2.87,18.83,7.71,4.71,...,4.28,49.88,6.67,3.20,7.13,5.23,1.30,36.51,15.62,0.00
75%,6021.25,3.60,23.97,86.12,11.63,53.67,3.43,22.14,8.95,5.51,...,4.95,59.09,7.91,3.73,8.13,6.28,1.49,43.77,18.44,0.00
max,7999.00,5.51,38.79,149.89,17.71,90.44,6.71,37.24,13.25,10.12,...,7.64,109.99,14.36,6.12,13.05,11.14,2.31,83.11,31.05,1.00

In [7]:
df.corr()

,id,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,target
id,1.000000,-0.004389,-0.000394,0.010618,-0.006122,0.016688,-0.011694,0.005806,-0.006042,0.008466,...,-0.022265,-0.012861,-0.001778,-0.006833,0.017617,0.009295,-0.002391,0.002391,-0.009754,-0.007954
col_0,-0.004389,1.000000,-0.263343,0.220018,-0.166528,-0.173504,0.104887,0.002233,0.199309,-0.026197,...,0.048844,0.299366,-0.059644,-0.034162,0.032572,0.012823,0.021311,-0.021311,0.102342,-0.031945
col_1,-0.000394,-0.263343,1.000000,-0.318633,0.310148,0.207409,-0.349739,0.440726,0.680584,0.272012,...,0.403754,-0.060949,0.470519,0.458083,0.315756,-0.534819,0.150506,-0.150506,-0.078476,-0.063731
col_2,0.010618,0.220018,-0.318633,1.000000,-0.466916,-0.198521,0.167255,0.207902,-0.221160,-0.402197,...,-0.392567,0.234399,-0.229044,-0.033453,0.096050,0.251333,0.492333,-0.492333,-0.409794,-0.014615
col_3,-0.006122,-0.166528,0.310148,-0.466916,1.000000,0.216042,0.026354,0.150559,0.115616,0.077269,...,-0.076405,-0.057855,0.067355,0.014934,-0.007658,0.039276,-0.242652,0.242652,0.047972,-0.069251
col_4,0.016688,-0.173504,0.207409,-0.198521,0.216042,1.000000,-0.442220,-0.307781,0.097588,0.271554,...,-0.402248,-0.093743,0.338918,-0.283514,0.418425,-0.225779,0.090252,-0.090252,0.248101,0.114226
col_5,-0.011694,0.104887,-0.349739,0.167255,0.026354,-0.442220,1.000000,0.076478,-0.282190,-0.163431,...,-0.140873,0.476953,-0.231253,-0.097999,-0.025987,0.106538,-0.099652,0.099652,-0.030591,0.015696
col_6,0.005806,0.002233,0.440726,0.207902,0.150559,-0.307781,0.076478,1.000000,0.034298,-0.085883,...,0.125979,0.372180,-0.060060,0.023194,0.162632,-0.079461,-0.026696,0.026696,-0.125487,-0.109665
col_7,-0.006042,0.199309,0.680584,-0.221160,0.115616,0.097588,-0.282190,0.034298,1.000000,0.230480,...,0.485781,-0.250245,0.461610,0.386572,0.090128,-0.494884,0.352635,-0.352635,-0.245034,-0.044613
col_8,0.008466,-0.026197,0.272012,-0.402197,0.077269,0.271554,-0.163431,-0.085883,0.230480,1.000000,...,0.050920,-0.295421,0.091813,-0.003926,0.052814,-0.097186,0.026450,-0.026450,-0.042591,-0.044936
col_9,-0.007547,-0.217856,-0.170147,0.050300,0.202727,0.217875,-0.019597,-0.184402,-0.538316,-0.028282,...,-0.201616,0.325518,-0.081896,-0.163557,-0.070954,0.061551,-0.106651,0.106651,0.139680,-0.006424
col_10,-0.006833,-0.034162,0.458083,-0.033453,0.014934,-0.283514,-0.097999,0.023194,0.386572,-0.003926,...,0.159369,-0.226832,0.125499,1.000000,0.047970,-0.204487,0.091662,-0.091662,-0.089633,-0.058199
col_11,-0.022265,0.048844,0.403754,-0.392567,-0.076405,-0.402248,-0.140873,0.125979,0.485781,0.050920,...,1.000000,-0.026839,0.122116,0.159369,-0.103568,-0.246247,0.095766,-0.095766,0.063141,-0.082991
col_12,-0.012861,0.299366,-0.060949,0.234399,-0.057855,-0.093743,0.476953,0.372180,-0.250245,-0.295421,...,-0.026839,1.000000,-0.084842,-0.226832,0.078465,-0.386704,-0.003443,0.003443,0.374812,0.040906
col_13,-0.001778,-0.059644,0.470519,-0.229044,0.067355,0.338918,-0.231253,-0.060060,0.461610,0.091813,...,0.122116,-0.084842,1.000000,0.125499,-0.044499,-0.207560,0.000646,-0.000646,0.016360,0.091874
col_14,-0.006833,-0.034162,0.458083,-0.033453,0.014934,-0.283514,-0.097999,0.023194,0.386572,-0.003926,...,0.159369,-0.226832,0.125499,1.000000,0.047970,-0.204487,0.091662,-0.091662,-0.089633,-0.058199
col_15,0.017617,0.032572,0.315756,0.096050,-0.007658,0.418425,-0.025987,0.162632,0.090128,0.052814,...,-0.103568,0.078465,-0.044499,0.047970,1.000000,-0.047012,0.068303,-0.068303,0.081814,-0.010248
col_16,0.009295,0.012823,-0.534819,0.251333,0.039276,-0.225779,0.106538,-0.079461,-0.494884,-0.097186,...,-0.246247,-0.386704,-0.207560,-0.204487,-0.047012,1.000000,-0.050204,0.050204,-0.129117,-0.035035
col_17,-0.002391,0.021311,0.150506,0.492333,-0.242652,0.090252,-0.099652,-0.026696,0.352635,0.026450,...,0.095766,-0.003443,0.000646,0.091662,0.068303,-0.050204,1.000000,-1.000000,-0.103511,0.017213
col_18,0.002391,-0.021311,-0.150506,-0.492333,0.242652,-0.090252,0.099652,0.026696,-0.352635,-0.026450,...,-0.095766,0.003443,-0.000646,-0.091662,-0.068303,0.050204,-1.000000,1.000000,0.103511,-0.017213
col_19,-0.009754,0.102342,-0.078476,-0.409794,0.047972,0.248101,-0.030591,-0.125487,-0.245034,-0.042591,...,0.063141,0.374812,0.016360,-0.089633,0.081814,-0.129117,-0.103511,0.103511,1.000000,0.136523
target,-0.007954,-0.031945,-0.063731,-0.014615,-0.069251,0.114226,0.015696,-0.109665,-0.044613,-0.044936,...,-0.082991,0.040906,0.091874,-0.058199,-0.010248,-0.035035,0.017213,-0.017213,0.136523,1.000000

In [8]:
corr = df.corr()['target']

In [9]:
corr

id       -0.007954
col_0    -0.031945
col_1    -0.063731
col_2    -0.014615
col_3    -0.069251
col_4     0.114226
col_5     0.015696
col_6    -0.109665
col_7    -0.044613
col_8    -0.044936
col_9    -0.006424
col_10   -0.058199
col_11   -0.082991
col_12    0.040906
col_13    0.091874
col_14   -0.058199
col_15   -0.010248
col_16   -0.035035
col_17    0.017213
col_18   -0.017213
col_19    0.136523
target    1.000000
Name: target, dtype: float64

In [10]:
corr.drop('target', inplace=True)
corr.drop('id', inplace=True)

In [11]:
corr

col_0    -0.031945
col_1    -0.063731
col_2    -0.014615
col_3    -0.069251
col_4     0.114226
col_5     0.015696
col_6    -0.109665
col_7    -0.044613
col_8    -0.044936
col_9    -0.006424
col_10   -0.058199
col_11   -0.082991
col_12    0.040906
col_13    0.091874
col_14   -0.058199
col_15   -0.010248
col_16   -0.035035
col_17    0.017213
col_18   -0.017213
col_19    0.136523
Name: target, dtype: float64

In [12]:
cmp = corr.max() #col_19
cmp

0.13652340961877715

In [13]:
cmn = corr.min() #col_6
cmn

-0.10966476079894623

In [14]:
scp = corr[corr > 0]
scn = corr[corr < 0]

In [15]:
scp

col_4     0.114226
col_5     0.015696
col_12    0.040906
col_13    0.091874
col_17    0.017213
col_19    0.136523
Name: target, dtype: float64

In [16]:
scn

col_0    -0.031945
col_1    -0.063731
col_2    -0.014615
col_3    -0.069251
col_6    -0.109665
col_7    -0.044613
col_8    -0.044936
col_9    -0.006424
col_10   -0.058199
col_11   -0.082991
col_14   -0.058199
col_15   -0.010248
col_16   -0.035035
col_18   -0.017213
Name: target, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x = df.drop('target', axis=1)
x.drop('id', axis=1, inplace=True)
y = df['target']

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=16)

Logistic Regression

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
modelo_lr = LogisticRegression(max_iter=8000)
modelo_lr.fit(x_train, y_train)

LogisticRegression(max_iter=8000)

In [24]:
y_prev_lr = modelo_lr.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
acr_lr = accuracy_score(y_test, y_prev_lr)

In [27]:
print(f'AcurÃ¡cia do modelo com Logistic Regression: {acr_lr}')

AcurÃ¡cia do modelo com Logistic Regression: 0.8827380952380952

Decision Tree

In [28]:
from sklearn.tree import DecisionTreeClassifier

In [29]:
modelo_dt = DecisionTreeClassifier()
modelo_dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [30]:
y_prev_dt = modelo_dt.predict(x_test)

In [31]:
acr_dt = accuracy_score(y_test, y_prev_dt)

In [32]:
print(f'AcurÃ¡cia do modelo com Decision Tree: {acr_dt}')

AcurÃ¡cia do modelo com Decision Tree: 0.8226190476190476

Support Vector Machine

In [33]:
from sklearn.svm import SVC

In [34]:
modelo_svm = SVC()
modelo_svm.fit(x_train, y_train)

SVC()

In [35]:
y_prev_svm = modelo_svm.predict(x_test)

In [36]:
acr_svm = accuracy_score(y_test, y_prev_svm)

In [37]:
print(f'AcurÃ¡cia do modelo com Support Vector Machine: {acr_svm}')

AcurÃ¡cia do modelo com Support Vector Machine: 0.8803571428571428

Naive Bayes

In [38]:
from sklearn.naive_bayes import GaussianNB

In [39]:
modelo_nb = GaussianNB()
modelo_nb.fit(x_train, y_train)

GaussianNB()

In [40]:
y_prev_nb = modelo_nb.predict(x_test)

In [41]:
acr_nb = accuracy_score(y_test, y_prev_nb)

In [42]:
print(f'AcurÃ¡cia do modelo com Naive Bayes: {acr_nb}')

AcurÃ¡cia do modelo com Naive Bayes: 0.8767857142857143

AcurÃ¡cia Geral

In [43]:
acr = {'Logic Regression': acr_lr, 'Decision Tree': acr_dt, 'Support Vector Machine': acr_svm, 'Naive Bayes': acr_nb}

In [44]:
df_acr = pd.DataFrame(acr, ['AcurÃ¡cia'])

In [45]:
df_acr

          Logic Regression  Decision Tree  Support Vector Machine  Naive Bayes
AcurÃ¡cia          0.882738       0.822619                0.880357     0.876786

Finalizando

In [46]:
df_teste = pd.read_csv('teste.csv')

In [47]:
df_teste.head()

,id,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19
0,2935,3.794996,17.619636,88.032837,7.635636,44.432242,2.214725,15.713429,9.240879,4.421333,...,3.080660,4.314130,42.545982,6.072102,3.225317,5.789060,4.449545,1.495420,29.360051,11.991906
1,3298,3.334634,11.004504,75.904020,10.714140,33.870530,2.571405,14.977010,4.981398,3.953721,...,2.529587,4.560897,44.401007,3.747090,2.648367,4.633839,7.383860,1.076733,44.409749,14.350560
2,6683,2.556022,24.318075,72.921526,12.807290,53.985423,2.035971,14.082178,9.281626,1.820876,...,4.119782,4.352199,42.203536,10.801200,4.313232,6.251253,5.468431,1.445550,31.152613,17.719692
3,5441,3.297353,24.022598,82.204430,8.931847,42.225646,4.700986,17.620649,9.706089,4.781520,...,4.267029,4.236558,59.082560,6.472898,4.467393,9.898321,3.688022,1.498425,29.252043,13.994709
4,3945,2.162462,21.429583,51.599856,10.305356,62.375489,2.579771,12.703993,7.572968,5.176573,...,2.704049,4.362269,44.757656,6.555755,2.831021,8.242778,3.936831,1.151187,41.733475,17.996966

In [48]:
testef = df_teste.drop('id', axis=1)

In [50]:
modelo = LogisticRegression(max_iter=8000)
modelo.fit(x, y)

LogisticRegression(max_iter=8000)

In [51]:
y_prev = modelo.predict(testef)

In [52]:
y_prev

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
import csv

f = open('predicao.csv', 'w', newline='')

writer = csv.writer(f)

header = ['Id', 'PrediÃ§Ã£o']

writer.writerow(header)

j = 0
for i in df_teste['id']:
    writer.writerow([i, y_prev[j]])
    j+=1

f.close()